@import "../../styles/variables.scss";

.wrapper {
  width: 100%;
  height: 60px;

  padding: 0 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  background-color: var(--color-pink-01);

  position: sticky;
  top: 0;

  overflow-x: auto;
  white-space: nowrap;

  z-index: 100;
}

@media (max-width: $width-breakpoint-m) {
  .wrapper {
    justify-content: flex-start;

    padding: 0 2rem;
  }
}
