.wrapper {
  width: 100%;
  min-height: 500px;

  padding: var(--padding-s);

  background-color: var(--primary-color);
}

.loadMoreRef {
  height: 50px;
}

.loading-container {
  padding-top: 100px;
}
