.wrapper {
  width: 100%;
  height: 35%;

  padding: 10px;
  border: 1px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 100%;
}

.inner-wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  flex: 0 0 100%;
}

.image-container {
  position: relative;

  width: 100%;
  height: 250px;

  img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}

.info-container {
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 8px;

  color: var(--font-color);
}

.info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: var(--font-l);
  font-weight: var(--font-w-l);
}

.info-footer {
  display: flex;
  justify-content: flex-end;

  font-size: var(--font-s);
  font-weight: var(--font-w-m);
  color: var(--font-color-2);
}
