.wrapper {
  background-color: var(--primary-color);

  border: 1px solid var(--color-pink-02);
  border-radius: var(--border-radius-03);

  color: var(--color-pink-02);
  font-weight: var(--font-w-l);
  text-decoration: none;
  text-align: center;

  cursor: pointer;

  /* size modifiers */
  &.small {
    font-size: var(--font-xs); /* 12px */
    padding: 4px 10px;
  }
  &.medium {
    font-size: var(--font-s); /* 14px */
    padding: 4px 12px;
  }
  &.large {
    font-size: var(--font-m); /* 16px */
    padding: 6px 16px;
  }
}
