@import "../../styles/variables.scss";

.wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;

  padding: 1rem 0rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slides {
  display: flex;
  align-self: center;

  width: 60%;
  touch-action: pan-y;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

@media (min-width: $width-breakpoint-s) and (max-width: $width-breakpoint-m) {
  .slides {
    width: 80%;
  }
}

@media (max-width: $width-breakpoint-s) {
  .slides {
    width: 90%;
  }
}
