.wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;

  padding: 1rem 0rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slides {
  display: flex;
  align-self: center;

  width: 90%;
  touch-action: pan-y;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}
