@import "../styles/reset";
@import "../styles/theme";

html {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--secondary-color);
}

body {
  width: $breakpoint;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--primary-color);

  box-shadow: var(--box-shadow);
}

@media (max-width: $breakpoint) {
  body {
    width: 100%;
  }
}
