@import "../styles/reset";
@import "../styles/theme";

body {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--secondary-color);
}

.body-content-wrapper {
  position: relative;

  width: $breakpoint;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--primary-color);

  color: var(--font-color);

  box-shadow: var(--box-shadow);
}

@media (max-width: $breakpoint) {
  .body-content-wrapper {
    width: 100%;
  }
}
