@import "../styles/reset.css";
@import "../styles/theme.css";

html {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--secondary-color);
}

body {
  width: 640px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--primary-color);

  box-shadow: var(--box-shadow);
}

@media (max-width: 640px) {
  body {
    width: 100%;
  }
}
