@import "../../../styles/variables.scss";

.wrapper {
  margin: 15px 0px;
  height: 4.8rem;

  display: flex;

  background-color: var(--secondary-color);

  color: var(--font-color);

  border-radius: 10px;

  box-shadow: var(--box-shadow);

  cursor: pointer;

  &:hover {
    background-color: var(--tertiary-color);
  }
}

@media (max-width: $width-breakpoint-m) {
  .wrapper {
    height: 4.2rem;
  }
}

.image {
  height: 100%;
  aspect-ratio: 1/1;

  border-radius: 10px;
}

.chart-number {
  height: 100%;
  aspect-ratio: 1/1;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: var(--font-w-l);
  font-size: var(--font-m);
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;

  font-weight: var(--font-w-l);

  > :nth-child(2) {
    color: var(--font-color-2);
    font-size: var(--font-s);
  }
}
