@import "./variables.scss";

:root {
  --transition-duration: 0.1s;
  --transition-timing: ease-in-out;

  --border-radius-01: 5px;
  --border-radius-02: 8px;
  --border-radius-03: 12px;

  --font-xl: 1.8rem;
  --font-l: 1.1rem;
  --font-m: 1rem;
  --font-s: 0.8rem;
  --font-xs: 0.6rem;

  --font-w-xl: 700;
  --font-w-l: 600;
  --font-w-m: 500;
  --font-w-s: 400;
  --font-w-xs: 300;

  --color-pink-01: #ffb0b2;
  --color-pink-02: #fb5ba8;
  --color-red: #e84e4e;
  --color-white: white;
  --color-black: black;
  --color-green: #55d04a;
  --color-orange: #fe9f00;
  --color-grey: rgb(195, 197, 197);
  --color-link: rgb(7, 151, 198);

  --transition-all: all 0.3s ease-in-out;

  .light {
    --primary-color: #ffffff;
    --secondary-color: #f8f8f8;
    --tertiary-color: #f1f1ef;

    --primary-color-r: #242530;
    --secondary-color-r: #2e3442;
    --tertiary-color-r: #4c576b;

    --font-color: black;
    --font-color-2: #868484;

    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.063),
      0 1px 2px rgba(0, 0, 0, 0.131);
  }

  .dark {
    --primary-color: #242530;
    --secondary-color: #2e3442;
    --tertiary-color: #4c576b;

    --primary-color-r: #ffffff;
    --secondary-color-r: #f8f8f8;
    --tertiary-color-r: #f1f1ef;

    --font-color: #eeeeee;
    --font-color-2: #dddddd;

    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.298), 0 1px 2px rgba(0, 0, 0, 0.35);
    --box-shadow-hover: 0 8px 12px rgba(0, 0, 0, 0.711),
      0 2px 3px rgba(0, 0, 0, 0.693);
  }
}
